@charset "utf-8";

.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

h1 {
  font-size: 30px;
}

.heading_1 {
  margin-top: 50px;
  text-align: center;
  font-weight: bold;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.layout_float {
  max-width: 1024px;
  margin: 40px auto;
  padding: 30px;
  background-color: #73e3ff91;
  counter-reset: items;
}

.layout_float .item {
  display: flex;
  position: relative;
  float: left;
  width: 33.33%;
  height: 150px;
}

.layout_float .item.large {
  height: 300px;
}

.layout_float .count::before {
  counter-increment: items;
  content: counter(items);
  position: absolute;
  left: 10px;
  top: 10px;
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 233, 1);
  font-size: 20px;
}

.layout_float .item_wrap > .item {
  float: none;
  width: 100%;
}

.layout_float .item img {
  display: block;
  object-fit: cover;
}
